{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Шрифты -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <!-- Набор иконок -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
</head>
<body>

    <div class="wrapper">
        <header class="wrapper__header">
            <!-- Сделано по шаблону Components-> Navbar -> 1 -->
            <div class="wrapper__navbar bg-info-subtle sticky-top">
                <!-- Добавлено из шаблона Components-> Navbar -> Color chemes style="background-color:rgb(10, 106, 174);"-->
                <nav class="navbar navbar-expand-lg"  data-bs-theme="dark">
                    <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Раздел 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Раздел 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Раздел 3</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        </ul>
                    </div>
                    </div>
                </nav>
            </div>

            <!-- Сделано по шаблону Layout-> Grid -->
            <div class="wrapper__header__top container-fluid py-1">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fa-solid fa-mobile-screen"></i>
                        <a href="tel:+123456789">123-456-78-90</a>
                    </div>

                    <div class="col-sm-4 d-none d-sm-block d-flex justify-content-center align-items-center">
                        <ul class="social d-flex justify-content-center m-0 p-0">
                            <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-envelope-open-text"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-sm-4 d-flex justify-content-end">
                        <div class="btn-group me-1">
                            <button class="btn btn-success dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Аккаунт
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Войти</a></li>
                              <li><a class="dropdown-item" href="#">Выйти</a></li>
                              <li><a class="dropdown-item" href="#">Создать</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-success dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Выбрать язык
                            </button>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Русский</a></li>
                            <li><a class="dropdown-item" href="#">Английский</a></li>
                            <li><a class="dropdown-item" href="#">Испанский</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Сделано по шаблону Layout-> Grid -->
            <div class="wrapper__header__mid container-fluid bg-success p-2 text-dark bg-opacity-25">
                <div class="row">
                    <div class="col-6 col-md-4 logo">
                        <a href="#" class="h4 text-decoration-none link-success">Медсайт</a>
                    </div>

                    <div class="col-6 col-md-4 text-end order-md-2">
                        <!-- Сделано по шаблону Badge -> Positioned -->
                        <button type="button" class="btn btn-success btn-sm position-relative me-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample1" aria-controls="offcanvasExample1">
                            Результаты
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                              99+
                              <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>

                        <!-- Сделано по шаблону Offcanvas -> Live demo -->
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample1" aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Результаты</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                              <div>Здесь будут результаты анализов и исследований...</div>
                              <div class="dropdown mt-3">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                  Dropdown button
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                              </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-success btn-sm position-relative me-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample2" aria-controls="offcanvasExample2">
                            Вопросы
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                              99+
                              <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>

                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample2" aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Вопросы</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                              <div>Здесь будут вопросы от пациентов...</div>
                              <div class="dropdown mt-3">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                  Dropdown button
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                              </div>
                            </div>
                        </div>

                    </div>

                    <!-- Сделано по шаблону Layout-> Columns -> Reordering -->
                    <!-- order-md-1 означает, что на экранах ≥768px этот элемент будет отображаться первым в своём flex-контейнере. -->
                    <div class="col-md-4 order-md-1 mt-2 mt-md-0">
                        <form action="">
                            <!-- Сделано по шаблону Forms -> Input group -->
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="ФИО пациента" aria-label="patientname" aria-describedby="button-addon2">
                                <button class="btn btn-outline-success" type="submit" id="button-addon2">
                                    <!-- Значок лупы из https://fontawesome.com/ -->
                                    <i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </header>



        <!-- <main class="wrapper__main" style="padding-top: 170px;"> -->
        <main class="wrapper__main">
            <div class="container-fluid">
                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet excepturi mollitia vel nulla doloribus illum, eum esse hic error voluptatum facilis autem qui, dolorum repudiandae saepe distinctio? Et, maiores alias?</p>
                <p>Minus dolorum provident, est libero eos earum adipisci non corrupti eligendi ratione fuga voluptate quidem sed voluptatum fugiat ad aspernatur! Placeat ad, maiores consectetur nihil molestias tempora quae cum tenetur!</p>
                <p>Nulla nesciunt ea autem minima obcaecati ducimus. Molestias sequi ducimus mollitia. Minus, et. Ducimus facilis numquam, porro quaerat aspernatur sit, nihil nisi repellat inventore a voluptatum quo. Quia, facere sequi.</p>
                <p>Tenetur officiis nobis voluptatum saepe voluptas quam beatae hic esse dolorum, maxime quia aut aperiam recusandae nemo cupiditate amet accusantium tempore suscipit quidem ducimus. Nihil quasi eum neque voluptate impedit!</p>
                <p>Perferendis culpa assumenda nihil at ut vel possimus nobis eos neque placeat, quasi accusamus quas quaerat. Ut dicta assumenda sequi iste? Molestias est odit, consectetur quisquam dolorem enim minus perferendis.</p>
                <p>Illum eveniet laudantium soluta nemo fuga voluptatem cum in consequuntur, labore temporibus! Minima quidem, deserunt cupiditate suscipit in quod aut inventore, rerum nesciunt molestias dignissimos similique iure voluptatibus a optio.</p>
                <p>Tenetur corporis vitae voluptas quaerat odio. Perferendis, soluta cum repellendus tenetur, eius dignissimos exercitationem pariatur illo quis, vero suscipit officia adipisci in autem minus veniam quidem dolorum expedita facilis tempora?</p>
                <p>Laboriosam temporibus sequi deserunt dicta hic cum necessitatibus omnis dolores vel est dolor doloremque eius, reiciendis quo facilis ipsam illo nulla minima obcaecati earum perspiciatis ratione iusto asperiores! Libero, saepe.</p>
                <p>Magnam quia a ex nostrum expedita quo maiores magni numquam ratione rem facere mollitia aliquid inventore tempora, atque vero temporibus dicta deserunt animi commodi voluptas doloribus optio eveniet. Eaque, molestias?</p>
                <p>Qui eligendi quisquam libero quod voluptatibus delectus eius quam voluptatum velit at, reiciendis esse. Excepturi fugit similique illo ipsam quis aperiam suscipit sapiente, vitae alias ipsa rem recusandae, totam aut.</p>
                <p>Accusantium commodi corporis facere hic tempora ratione itaque sed quidem, accusamus, praesentium assumenda blanditiis consectetur natus iste neque magnam quo. Suscipit dicta id voluptatum ipsam adipisci laborum in quidem saepe!</p>
                <p>Illum, dolores sit. Pariatur itaque et praesentium dolorum, officia asperiores numquam dolore? Pariatur excepturi exercitationem quo culpa nulla repellat. Placeat eveniet quae officia eos, atque quisquam optio delectus beatae dolorem.</p>
                <p>Provident rerum, earum repellendus deleniti necessitatibus distinctio accusantium debitis eveniet culpa voluptatibus mollitia eius iure porro recusandae? Minus placeat sed soluta consectetur fuga recusandae praesentium molestiae? Dolores ipsa voluptatem itaque.</p>
                <p>Sint blanditiis veniam tempora quis, labore, tempore ab saepe eius obcaecati ea sit? Quod veritatis ut pariatur nulla aspernatur impedit ipsam minus suscipit quo, cum, porro reiciendis, error eum blanditiis.</p>
                <p>Recusandae, minima quidem. Iste id nobis ullam recusandae necessitatibus, odio sequi commodi impedit ipsum, doloribus vel ut! Nisi totam numquam nemo, minima, sint cumque, nesciunt quo debitis culpa distinctio tempora?</p>
                <p>Dolorum saepe labore a odio excepturi pariatur autem explicabo dicta doloremque beatae? Dolor porro quis error voluptate doloremque commodi vitae mollitia id maxime aut sed, tempora dicta quidem quibusdam accusantium?</p>
                <p>Inventore ducimus ipsum esse vero iure nisi, cumque voluptatum molestias unde aut doloremque expedita eveniet blanditiis! Accusantium, sequi modi saepe neque eaque voluptatem dolor, voluptatum quo dolores odio ullam sunt.</p>
                <p>Dolorem nisi expedita numquam eligendi, odio dignissimos quibusdam, nesciunt dolor voluptas accusantium molestias doloremque libero quae voluptatum reiciendis id necessitatibus cum commodi ipsum? Adipisci dolores placeat quidem consequatur, ratione harum.</p>
                <p>Fuga id nulla inventore iure eligendi perspiciatis magni quia, temporibus distinctio, hic ab! Iusto, maiores? Ab deleniti voluptatibus, autem corrupti at sunt earum sequi eius vel dolorum, eveniet suscipit dolor.</p>
                <p>Sint laboriosam pariatur cum perspiciatis sit, dolorem aperiam laborum adipisci eaque aliquid atque unde, nihil inventore exercitationem neque repellendus vitae iure, itaque consequuntur minima velit porro deserunt quasi sed. Pariatur?</p>
            </div>
        </main>

        <footer class="wrapper__footer">Футер</footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>